@model Vladi2.Models.CartVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cart</h2>
@if (!string.IsNullOrEmpty(ViewBag.msg))
{
    <div class="alert alert-danger">
        @ViewBag.msg
    </div>
}
@using (Html.BeginForm("ShipCart", "Cart", FormMethod.Post))
{
    <table class="table">
        <tr>
            <th></th>
            <th>
                Disc
            </th>
            <th>
                Category
            </th>
            <th>
                Amount
            </th>
            <th>
                Total Price
            </th>
            <th></th>
        </tr>
        @for (var i = 0; i < Model.Orders.Count; i++)
        {
            <tr>
                <td>
                    <div class="disc-img" style="background-image: url('@Url.Content("~/CD_Images/" + @Model.Orders[i].Disc.PictureUrl)')"></div>
                </td>
                <td>
                    <b>@Html.DisplayFor(modelItem => Model.Orders[i].Disc.Name)</b>
                    <p>@Html.DisplayFor(modelItem => Model.Orders[i].Disc.Artist)</p>
                    @Html.HiddenFor(modelItem => Model.Orders[i].OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Orders[i].Disc.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Orders[i].Amount)
                </td>
                <td>
                    @(Model.Orders[i].Amount * Model.Orders[i].Disc.Price)
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => Model.Orders[i].IsChecked)
                    @Html.HiddenFor(modelItem => Model.Orders[i].IsChecked)
                </td>
            </tr>
        }
    </table>
    <div class="col-md-5 col-lg-5">
        <table class="table table-user-information">
            <tbody>
                <tr>
                    <td>Address:</td>
                    <td>
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td>
                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
                <tr>
                    <td>Country:</td>
                    <td>
                        @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Ship" class="btn btn-primary btn-block" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}


