@model Vladi2.Models.CategoryVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categories</h2>

@if (ViewBag.catErr != null)
{
    <div class="alert alert-danger">
        @ViewBag.catErr
    </div>
}


        <div class="panel panel-primary">
            <div class="panel-heading">
                Add Category
            </div>
            <div class="panel-body">
                <div class="row">
                    @using (Html.BeginForm("addCategory", "AdminCategories", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="col-md-7">
                            @Html.EditorFor(modelItem => modelItem.newCategory.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-md-4">
                            <input type="submit" value="Create New" class="btn btn-info" />
                        </div>
                  }
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                Edit Category
            </div>

            <div class="panel-body">
                @using (Html.BeginForm("updateCategories", "AdminCategories", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    for (int i = 0; i < Model.categories.Count; ++i)
                    {
                        @Html.EditorFor(modelItem => modelItem.categories[i].CategoryName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.HiddenFor(modelItem => modelItem.categories[i].CategoryID)
                        <br />
                    }


                    <input type="submit" value="Update" class="btn btn-info" />

                }
            </div>

        </div>

<style>
    .container {
        max-width: 550px;
    }

</style>