@model Vladi2.Models.Disc

@{
    ViewBag.Title = "ViewDisc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Back to Store", "Index")

<p>
    <div class="row">
        <div class="col-sm-2 col-md-4 large-details">
            <div class="disc-img" style="background-image: url('@Url.Content("~/CD_Images/"+@Model.PictureUrl)')"></div>
        </div>
        <div class="col-sm-4 col-md-5 large-details">
            <div class="disc-title">@Model.Name</div>
            <div class="disc-artist">@Model.Artist</div>
            <div class="disc-price">£@Model.Price</div>
            <hr />
            <div class="disc-category">Category: <b>@Model.Category.CategoryName</b></div>
            <div class="disc-category">Added: <b>@Model.DiscAdded.ToShortDateString()</b></div>
            <div class="disc-category">Duration: <b>@Model.Duration</b></div>
            <div class="disc-category">SongsAmount: <b>@Model.SongsAmount</b></div>
        </div>

        <div class="col-sm-4 col-md-3 add-to-cart">
            @using (Html.BeginForm("AddToCart", "Store", FormMethod.Post, new { @onsubmit = "return checkform()" }))
            {
                <span>QYY</span>
                <div class="pick-number">
                    <input type="button" class="box-number action down" value="-" />
                    <input type="text" class="box-number number" name="number" value="1" id="number-text">
                    @Html.HiddenFor(model => model.DiscID)
                    <input type="button" class="box-number action up" value="+" />
                </div>
                <input type="submit" value="ADD TO CART" class="add-to-cart-button" />
            }
            @if (!string.IsNullOrEmpty(ViewBag.msg))
            {
                <div class="alert @ViewBag.msgType">
                    @ViewBag.msg
                </div>
            }
        </div>

    </div>
</p>
<p>
    @Html.ActionLink("Back to Store", "Index")
</p>

<script>
    function checkform() {
        if ($.isNumeric($("#number-text").val()) && parseInt($("#number-text").val()) >= 1 && parseInt($("#number-text").val()) <= 10) {
            return true;
        }
        alert("יש להכניס מספר מ1 עד 10");
        return false;
    }
</script>