@model IEnumerable<Vladi2.Models.Order>

@{
    ViewBag.Title = "Index" ;
    Layout = "~/Views/Shared/_Layout.cshtml";
 }



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shopping Information</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-1 toppad">
                <div class="panel panel-info" style="width:1000px">
                    <div class="panel-heading row" style="margin-right: 0px; margin-left: 0px;">
                        <div class="col-xs-6">
                            <h3 class="panel-title" style="padding-top: 7px;"><strong>My Orders</strong></h3>
                        </div>
                    </div>
                    <div class="panel-body" style="align-items:center; padding-top: 0px;">
                        <div class="row">
                            <div class=" col-md-12 col-lg-12" style="padding-left:-10px;padding-right: 0px; padding-left:5px;">
                                <table class="table table-user-information t1">
                                    <tbody>
                                        <tr>
                                            <th style="text-align:center">Disc's Name  </th>
                                            <th style="text-align:center">Disc's Artist </th>
                                            <th style="text-align:center">Disc's Category </th>
                                            <th style="text-align:center">Disc's Ordering Time </th>
                                            <th style="text-align:center">Song's Amount </th>
                                            <th style="text-align:center">Song's Duration </th>
                                            <th style="text-align:center">Disc's Price </th>
                                        </tr>

                                        @foreach (var order in Model)
                                        {
                                            <tr>
                                                <td style="text-align:center">
                                                    @Html.DisplayFor(modelItem => order.Disc.Name)
                                                </td>
                                                <td style="text-align:center">
                                                    @Html.DisplayFor(modelItem => order.Disc.Artist)
                                                </td>
                                                <td style="text-align:center">
                                                    @Html.DisplayFor(modelItem => order.Disc.Category.CategoryName)
                                                </td>
                                                <td style="text-align:center">
                                                    @Html.DisplayFor(modelItem => order.OrderTime)
                                                </td>
                                                <td style="text-align:center">
                                                    @Html.DisplayFor(modelItem => order.Disc.SongsAmount)
                                                </td>
                                                <td style="text-align:center">
                                                    @Html.DisplayFor(modelItem => order.Disc.Duration)
                                                </td>
                                                <td style="text-align:center">
                                                    @Html.DisplayFor(modelItem => order.Disc.Price) £
                                                </td>
                                            </tr>
                                        }
                                        <tr><td style="padding-top:100px"><b>Total Price of My Orders:</b> @ViewBag.TotalPrice £</td></tr>
                                </tbody>
                                </table>

                                @*<div>
                                    
                                </div>*@
                                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
