@model Vladi2.Models.Topic

@{
    ViewBag.Title = "addTopic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Topic</h2>

@if (ViewBag.Err != null)
{ 
    <div class="alert alert-danger" style="padding: 9px;">
            @ViewBag.Err
    </div>
}

@using (Html.BeginForm("addTopic", "Forum", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "title form-control", @Value = Model.Title } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.newComment.Text, htmlAttributes: new { @class = "control-label col-md-2", @Value = Model.newComment.Text })
            <div class="col-md-10">
                @Html.EditorFor(model => model.newComment.Text, new { htmlAttributes = new { @class = "area" } })
                @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
            </div>
        </div>

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


<style>
    .area {
        width: 500px;
        height: 150px;
        border: 1px solid #cccccc;
        padding: 6px 12px;
        margin-bottom: 10px;
        max-width: 100%;
        border-radius: 4px;
        margin-bottom: 0px;
    }

    .title {
        width: 500px;
        max-width: 100%;
    }

</style>